<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${title}"></title>
</head>
<body>
    <h1 th:text="${title}"></h1>
    <form method="post" style="max-width:600px;" th:object="${drink}">
        <div class="form-group">
            <label th:for="name">Name</label>
            <input class="form-control" th:field="*{name}" />
            <span th:errors="*{name}" class="error"></span>
        </div>
        <div class="form-group">
            <label th:for="description">Description</label>
            <input class="form-control" th:field="*{description}" />
            <span th:errors="*{description}" class="error"></span>
        </div>

        <div class="form-group">
            <label th:for="rating">Rating</label>
            <input class="form-control" th:field="*{rating}" />
            <span th:errors="*{rating}" class="error"></span>
        </div>

        <div class="form-group">
            <label th:for="file">Image Upload</label>
            <input type="file" name="file" th:field="*{file}"/>
        </div>
        <input type="submit" value="Add Drink" />
    </form>

</body>
</html>