<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title th:text="${title}"></title>
</head>
<body>
    <h1 th:text="${title}"></h1>
    <form method="post" style="max-width:600px;" enctype="multipart/form-data">
        <div class="form-group">
            <label th:for="name">Name</label>
            <input class="form-control" type="text" name="name" id="name"/>
<!--            <span th:errors="*{name}" class="error"></span>-->
        </div>
        <div class="form-group">
            <label th:for="description">Description</label>
            <input class="form-control" type="text" name="description" id="description"/>
<!--            <span th:errors="*{description}" class="error"></span>-->
        </div>

        <div class="form-group">
            <label th:for="rating">Rating</label>
            <input class="form-control" type="text" name="rating" id="rating" />
<!--            <span th:errors="*{rating}" class="error"></span>-->
        </div>

        <div class="form-group">
            <label th:for="file">Image Upload</label>
            <input type="file" name="foto" id="foto"/>
        </div>
        <input type="submit" value="Add Drink" />
    </form>

</body>
</html>